.card-body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.card-text{
    /* margin: 0 4%; */
    width: 20%;
    height: 10%;
    /* background: yellow; */
    
}
.teble-main{
    text-align: center;
    text-justify:auto;
}
